.carrito-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: white !important;

}
.carrito-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carrito-speakers {
  height: 158px;
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.carrito-max-width {
  height: 93px;
  flex-direction: column;
}
.carrito-text {
  text-align: center;
  color: black;
}
.carrito-container1 {
  width: 100%;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  height: 793px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.carrito-botones {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.total{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255) !important;
}
.home-top-container {
  width: 100%;
  height: 624px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://img.freepik.com/foto-gratis/tabla-cortar-madera-rodeada-platos-pasta-e-ingredientes-mesa_23-2148246798.jpg?w=2000");
}
.home-hero {
  top: 100px;
  right: 76px;
  width: 611px;
  height: 452px;
  display: flex;
  position: absolute;
  max-width: 1000px;
  align-self: flex-end;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: var(--dl-size-size-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
  background-color: #D9D9D9;
}
.home-content-container {
  width: 458px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-container1 {
  flex: 0 0 auto;
  width: 345px;
  height: 68px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-link {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-postres {
  width: 100%;
  height: 1295px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 3%;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: 70px;
  justify-content: flex-start;
  color: black;
}
.home-text10 {
  color: black;
}
.home-cards-container {
  width: 100%;
  display: center;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row-reverse;
  justify-content: center;
  margin: auto;
}
.home-platos {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 3%;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
  color: black;
}
.home-text12 {
  color: var(--dl-color-gray-500);
}
.home-cards-container1 {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.home-bebidas {
  width: 100%;
  height: 1276px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 3%;
  margin-bottom: 121px;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: 70px;
  justify-content: flex-start;
  color: black;
}
.home-text17 {
  color: black;
}
.home-cards-container2 {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  color: black;
}
.home-image {
  height: 2rem;
  object-fit: cover;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    color: black;
  }
}
@media(max-width: 479px) {
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
    color: black !important;
  }
}
.botoncompra{
  margin: auto;
}

.cuadro input, input[type] {
  border-color: rgb(255, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)inset, 0 0 8px rgba(255, 0, 0, 0.6);
  outline: 0 none;
}
