.Title{
  color: black !important;
}
.chale{
  background-image: url("https://thumbs.dreamstime.com/b/disposici%C3%B3n-limpia-sana-de-la-consumici%C3%B3n-comida-vegetariana-y-concepto-nutrici%C3%B3n-dieta-diversos-ingredientes-las-verduras-105567339.jpg");
  background-color: rgb(255, 255, 255) !important;
  background-size: cover ;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}
.body {
  padding-left: 20px;
  padding-right: 20px;

}