.Title{
  color: black !important;
}
.body{
  background-image: url("https://thumbs.dreamstime.com/b/disposici%C3%B3n-limpia-sana-de-la-consumici%C3%B3n-comida-vegetariana-y-concepto-nutrici%C3%B3n-dieta-diversos-ingredientes-las-verduras-105567339.jpg");
  background-color: rgb(255, 255, 255) !important;
  background-size: 100% ;
  

}